body {
  margin:0px;
  background-color:rgba(240, 245, 252, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1441px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:87px;
  top:184px;
  width:1265px;
  height:434px;
  overflow:hidden;
  visibility:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:434px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:433px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:433px;
}
#u2 {
  position:absolute;
  left:2px;
  top:208px;
  width:1261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#4B83FD;
  text-align:center;
}
#u3 {
  position:absolute;
  left:20px;
  top:15px;
  width:185px;
  height:19px;
  font-size:16px;
  color:#4B83FD;
  text-align:center;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5 {
  position:absolute;
  left:438px;
  top:15px;
  width:300px;
  height:19px;
  font-size:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#4B83FD;
}
#u7 {
  position:absolute;
  left:949px;
  top:15px;
  width:302px;
  height:19px;
  font-size:16px;
  color:#4B83FD;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:2px;
}
#u9 {
  position:absolute;
  left:21px;
  top:41px;
  width:184px;
  height:1px;
  color:#4B83FD;
}
#u10 {
  position:absolute;
  left:2px;
  top:-8px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:2px;
}
#u11 {
  position:absolute;
  left:436px;
  top:41px;
  width:287px;
  height:1px;
}
#u12 {
  position:absolute;
  left:2px;
  top:-8px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u13 {
  position:absolute;
  left:942px;
  top:41px;
  width:304px;
  height:1px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u15 {
  position:absolute;
  left:771px;
  top:101px;
  width:423px;
  height:16px;
  text-align:center;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#4B83FD;
}
#u17 {
  position:absolute;
  left:764px;
  top:143px;
  width:435px;
  height:28px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#4B83FD;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  white-space:nowrap;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u19 {
  position:absolute;
  left:716px;
  top:195px;
  width:539px;
  height:56px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:252px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u21 {
  position:absolute;
  left:20px;
  top:95px;
  width:646px;
  height:252px;
  line-height:28px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:42px;
}
#u23 {
  position:absolute;
  left:130px;
  top:201px;
  width:287px;
  height:42px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:283px;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:433px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  position:absolute;
  left:90px;
  top:185px;
  width:1261px;
  height:433px;
}
#u26 {
  position:absolute;
  left:2px;
  top:208px;
  width:1257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1443px;
  height:71px;
}
#u27 {
  position:absolute;
  left:-1px;
  top:-2px;
  width:1443px;
  height:71px;
}
#u28 {
  position:absolute;
  left:2px;
  top:28px;
  width:1439px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:42px;
  background:inherit;
  background-color:rgba(38, 67, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 67, 128, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:58px;
  top:17px;
  width:577px;
  height:42px;
}
#u30 {
  position:absolute;
  left:2px;
  top:13px;
  width:573px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u31 {
  position:absolute;
  left:90px;
  top:23px;
  width:807px;
  height:28px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFCC66;
}
#u33 {
  position:absolute;
  left:897px;
  top:25px;
  width:98px;
  height:19px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFCC66;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:62px;
}
#u35 {
  position:absolute;
  left:1120px;
  top:2px;
  width:300px;
  height:62px;
}
#u36 {
  position:absolute;
  left:2px;
  top:23px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u37 {
  position:absolute;
  left:1122px;
  top:26px;
  width:83px;
  height:19px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#121212;
  line-height:30px;
}
#u39 {
  position:absolute;
  left:90px;
  top:115px;
  width:415px;
  height:30px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#121212;
  line-height:30px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  white-space:nowrap;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u41 {
  position:absolute;
  left:110px;
  top:199px;
  width:185px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#4B83FD;
}
#u43 {
  position:absolute;
  left:528px;
  top:199px;
  width:304px;
  height:19px;
  font-size:16px;
  color:#4B83FD;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#4B83FD;
  text-align:center;
}
#u45 {
  position:absolute;
  left:1033px;
  top:199px;
  width:302px;
  height:19px;
  font-size:16px;
  color:#4B83FD;
  text-align:center;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:2px;
}
#u47 {
  position:absolute;
  left:111px;
  top:225px;
  width:184px;
  height:1px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-8px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:2px;
}
#u49 {
  position:absolute;
  left:526px;
  top:225px;
  width:287px;
  height:1px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-8px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u51 {
  position:absolute;
  left:1031px;
  top:225px;
  width:304px;
  height:1px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u53 {
  position:absolute;
  left:861px;
  top:285px;
  width:423px;
  height:16px;
  text-align:center;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#4B83FD;
}
#u55 {
  position:absolute;
  left:854px;
  top:327px;
  width:435px;
  height:28px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#4B83FD;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  white-space:nowrap;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u57 {
  position:absolute;
  left:838px;
  top:379px;
  width:467px;
  height:56px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:336px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u59 {
  position:absolute;
  left:110px;
  top:279px;
  width:631px;
  height:336px;
  line-height:28px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:53px;
}
#u61 {
  position:absolute;
  left:110px;
  top:461px;
  width:419px;
  height:53px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u62 {
  position:absolute;
  left:2px;
  top:18px;
  width:415px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1043px;
  top:17px;
  width:39px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
